@import '../../styles/sass/constants';

.categories {
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;

  &__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    @media screen and (max-width: 900px) {  
      flex-flow: row wrap;
      justify-content: center;
      gap: 24px;
    }

    &.controls {
      width: 100%;
      max-width: 296px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      row-gap: 24px;

      & a {
        width: 100%;
      }
    }
  }
}

.link {
  display: block;
  width: 100%;
  height: 100%;
}

.category__wrapper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 4px;
  border: solid 1px $color-dark-s;
  transition: background-color 0.3s, border-color 0.3s;

  &.controls {
    width: 100%;
    padding: 23px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    border: solid 1px $color-dark-s;
  }

  &.active {
    background-color: $color-primary;
    border: $color-primary;
  }

  &:hover {
    background-color: $color-primary;
    border-color: $color-primary;
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    max-width: 315px;
  }
}

.icon__wrapper {
  width: 48px;
  height: 48px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background-color: $color-light-s;

  &.controls {
    width: 48px;
    height: 48px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}