@import '../../styles/sass/constants';

.footer {
  padding: 59px 0 56px 0;
  background-color: $color-black;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    
    @media screen and (max-width: 470px) {
      align-items: stretch;

      & ul {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.title {
  font-size: 24px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0;
  color: $color-white;
}

.form {
  margin-top: 48px;
  padding: 80px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($color-white, 0.05);

  &__title {
    width: 48%;
    max-width: 562px;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: $color-white;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0;
      text-align: center;
    }
    
    @media screen and (max-width: 390px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__fields {
    display: flex;
    align-items: center;
    gap: 24px;

    @media screen and (max-width: 560px) {
      flex-direction: column;
    }
  }

  &__input {
    padding: 14px 25px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: $color-dark-s;
    background-color: transparent;
    border: solid 1px $color-dark-l;

    &.error {
      outline-color: red;
    }

    @media screen and (max-width: 560px) {
      max-width: 290px;
    }
  }

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    row-gap: 16px;
  }

  @media screen and (max-width: 768px) {
    padding: 10px 8px;
  }
}

.contact {
  margin-top: 48px;
  display: flex;
  align-items: start;
  justify-content: space-between;

  &__info {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: rgba($color-white, 0.7);

    @media screen and (max-width: 560px) {
      text-align: center;
    }
  }

  @media screen and (max-width: 560px) {
    flex-direction: column;
    align-items: stretch;
    row-gap: 16px;
  }
}