@import '../../styles/sass/constants';

.special {
  margin-top: 128px;
  position: relative;

  &__post {
    width: 55%;
    padding: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 16px;
    background-color: $color-white;
  }

  & h2 {
    margin-top: 8px;
    font-size: 48px;
    line-height: 64px;
    font-weight: 700;
    letter-spacing: -2px;
  }

  & button {
    margin-top: 16px;
  }
}