.wrapper {
  margin-top: 128px;
  display: flex;
  align-items: center;
  gap: 80px;

  @media screen and (max-width: 1050px) {
    flex-direction: column-reverse;
    padding: 0 32px;
    gap: 32px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 32px;
    & div > img {
      width: 100%;
      max-width: 550px;
    }
  }

  @media screen and (max-width: 450px) {
    padding: 0 10px;
  }
}

.content__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}