@import '../../styles/sass/constants';

.authors {
  margin-top: 128px;

  @media screen and (max-width: 768px) {
    margin-top: 32px;
  }

  & h2 {
    text-align: center;
  }

  &__content {
    margin-top: 48px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;

    @media screen and (max-width: 1200px) {
      justify-content: center;
    }
  }
}

.author {
  width: 23%;
  max-width: 296px;
  padding: 40px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-light-l;
  transition: background-color 0.3s;
  &:hover {
    background-color: $color-light-s;
    cursor: pointer;
  }
  

  &__image {
    margin-bottom: 20px;

    & img {
      border-radius: 50%;
    }
  }

  &__bio {
    text-align: center;
  }

  & ul {
    margin-top: 20px;
  }

  @media screen and (max-width: 1200px) {
    width: 33%;
    max-width: 315px;
  }

  @media screen and (max-width: 1040px) {
    width: 50%;
  }

  @media screen and (max-width: 686px) {
    width: 100%;
  }
}